.container{
    overflow: auto;
}
.left_view h3 {
font-size: 21px;
}

.left_view p h3{
    font-weight: 600px;
    
}

.right_view p {
    font-weight: 400;

}

.add_btn > div {
   
    width: 100px;
    position: relative;
    left: 450px;

}